.imageContainer1 {
  position: relative;
  width: 197px;
  height: 229px;
  background-image: url("https://ucarecdn.com/8db221e8-76ab-4eaa-bc1e-012df2204e04/-/preview/500x500/-/quality/best/-/format/auto/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
  border-radius: 14.25px;
}

.imageContainer1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://ucarecdn.com/a00e8ef5-53d0-4d21-8cca-536194a7c6be/-/preview/500x500/-/quality/best/-/format/auto/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
  bottom: -30%;
  z-index: -1;
  filter: blur(25px);
}

.imageContainer2 {
  position: relative;
  width: 217px;
  height: 317.04px;
  background-image: url("https://ucarecdn.com/fdc38f9c-8184-4cc0-8637-50c9cd40cbaa/-/preview/500x500/-/quality/best/-/format/auto/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
  border-radius: 14.25px;
  margin-top: -10px;
}

.imageContainer2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://ucarecdn.com/a00e8ef5-53d0-4d21-8cca-536194a7c6be/-/preview/500x500/-/quality/best/-/format/auto/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
  bottom: -30%;
  z-index: -1;
  filter: blur(25px);
}

.imageContainer3 {
  position: absolute;
  width: 100%;
  min-height: 456px;
  height: auto;
  background-image: url("https://ucarecdn.com/df59af1d-f966-40bd-853b-0abd31920d18/-/preview/500x500/-/quality/best/-/format/auto/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  border-top-left-radius: 14.25px;
  border-bottom-left-radius: 14.25px;
  transform: scaleX(-1);
  overflow: hidden;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
}

.image3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://ucarecdn.com/2ab3738d-542e-40f5-8b27-d5290093def7/-/preview/500x500/-/quality/best/-/format/auto/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
  left: -10%;
  top: 0;
  z-index: -1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: scaleX(-1);
  filter: blur(25px);
}

.image3 {
  z-index: 0;
}

.shape {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0%;
  left: 24%;
  background-color: #3abf9c;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .imageContainer1 {
    width: 144px;
    height: 145.574px;
    flex-shrink: 0;
  }

  .imageContainer2 {
    width: 158px;
    height: 184.906px;
    flex-shrink: 0;
  }

  .imageContainer3 {
    width: 343.514px;
    height: 259.531px;
    flex-shrink: 0;
    min-height: unset;
    transform: scaleX(-1);
    left: 20%;
    top: 20%;
    border-radius: 11.664px;
  }

  .shape {
    top: 10%;
    border-radius: 11.664px;
    left: 50%;
  }

  .image3::after {
    left: 10%;
  }
}
