@import "antd/dist/reset.css";
/* fix Tailwind CSS border styles,form Tailwind CSS's preflight */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

::before,
::after {
  --tw-content: "";
}

@tailwind components;
@tailwind utilities;
@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: poppinsBold;
  src: url("../src/assets/fonts/SVN-Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: poppinsNormal;
  src: url("../src/assets/fonts/SVN-Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: poppinsMedium;
  src: url("../src/assets/fonts/SVN-Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: poppinsSemibold;
  src: url("../src/assets/fonts/SVN-Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: streetSignSans;
  src: url("../src/assets/fonts/StreetSignSans.otf") format("truetype");
}

.font-poppins-normal {
  font-family: poppinsNormal, sans-serif !important;
}

.font-poppins-medium {
  font-family: poppinsMedium, sans-serif !important;
}

.font-poppins-semibold {
  font-family: poppinsSemibold, sans-serif !important;
}

.font-poppins-bold {
  font-family: poppinsBold, sans-serif !important;
}

.font-street-sign-sans {
  font-family: streetSignSans, sans-serif !important;
}

p,
span,
a {
  font-family: poppinsNormal, sans-serif;
  margin-bottom: 0px;
}

figure {
  margin-bottom: 0px;
}

h1,
h2 {
  font-weight: 700 !important;
  font-family: poppinsBold, sans-serif;
  margin-bottom: 0px;
}
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
  font-family: poppinsSemibold, sans-serif;
  margin-bottom: 0px;
}
h1 {
  font-size: 64px !important;
  line-height: 80px !important;
}
h2 {
  font-size: 48px !important;
  line-height: 72px !important;
}
h3 {
  font-size: 40px !important;
  line-height: 60px !important;
}
h4 {
  font-size: 32px !important;
  line-height: 40px !important;
}
h5 {
  font-size: 24px !important;
  line-height: 30px !important;
}
h6 {
  font-size: 20px !important;
  line-height: 26px !important;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
  opacity: 0 !important;
}

.ant-layout-content {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) inset;
  padding: 16px;
}
