.image {
  position: relative;
  width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.imageBlur {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.imageLogoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageLogo {
  width: 20%;
}

.shadowEffectContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  bottom: -20%;
  opacity: 0.6;
  filter: blur(25px);
}

.shadowEffect {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.shapeTop {
  width: 70%;
  height: 100%;
  position: absolute;
  top: -50px;
  background: #3abf9c;
  z-index: -1;
  border-top-right-radius: 20px;
}

.shapeRight {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #3abf9c;
  right: -50px;
  z-index: -1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container {
  min-height: 100vh;
}
